<app-menu></app-menu>
<div class='component-content'>
  <div class='lefthalf'>
    <span class='component-title'>{{title}}</span>
    <span><a routerLink='/pr/list'>Back to list</a>
    </span>
  </div>
</div>
<p *ngIf='!purchaseRequest'>Loading...</p>
<table class="table table-sm" *ngIf='purchaseRequest'>
  <tr>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Id</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Description</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Status</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Total</u></a></th>

  </tr>

  <tr>
    <td>{{ purchaseRequest.id }}</td>
    <td>{{ purchaseRequest.description }}</td>
    <td>{{ purchaseRequest.status }}</td>
    <td>{{ purchaseRequest.total |currency}}</td>
  </tr>
</table>

<div class='component-content'>
  <div class='lefthalf'>
    <span class='component-title'>Lines</span>
    <span *ngIf='purchaseRequest'><a routerLink='/prli/create/{{purchaseRequest.id}}'>
        <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
    </span>
  </div>
</div>
<p *ngIf='!prlis'>Loading...</p>
<table class="table table-sm" *ngIf='prlis'>
  <tr>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Id</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Product</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Quantity</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Unit Price</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Line Total</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Action</u></a></th>
  </tr>
  <tr *ngIf="prlis.length==0" class='font-weight-bold'>There are no line items yet. Click the + icon to add one!</tr>
  <tr *ngFor='let prli of prlis'>
    <td>{{ prli.id }}</td>
    <td>{{ prli.product.name }}</td>
    <td>{{ prli.quantity }}</td>
    <td>{{ prli.product.price |currency}}</td>
    <td>{{ prli.quantity * prli.product.price |currency }}</td>
    <td class='actions'>
        <a routerLink='/prli/edit/{{prli.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit Line'></a>
        <a (click)="removeLine(prli)"><img src='assets/delete.jpg' width='20' height='20' title='Delete Line'></a>
        
      </td>
  
  </tr>
</table>
<button (click)="submitForReview()" class='btn btn-primary' title='Submit'>
  Submit for Review
</button>