<app-menu></app-menu>
<div class='component-content'>
	<div>
		<span class='component-title'>{{title}}</span>
		<span><a routerLink='/product/create'><img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a></span>
	</div>
	<p *ngIf='!product'>Loading...</p>

	<div *ngIf='product'>
		<div class="form-group row">
			<label class='col-form-label col-sm-2' for="vendor">Vendor:</label>
			<div class='col-sm-6 select-list'>
			  <select [(ngModel)]='product.vendor.id' [compareWith]='compareFn' class='form-control' name='Vendor' id='product-Vendor'>
                <option *ngFor="let vendor of vendors" [ngValue]="vendor.id" [selected]="vendor.id == product.vendor.id">{{vendor.name}}</option>
              </select>
			</div>
		</div>
		<div class="form-group row">
			<label class='col-form-label col-sm-2' for="pdtPartNum">Part Number:</label>
			<input [(ngModel)]='product.partNumber' name = 'PartNumber' type="text" class="form-control col-sm-6" id="pdtPartNum" aria-describedby="pnumHelp" placeholder="PartNumber">
			<small id="pnumHelp" class="form-text text-muted col-sm-2">Part Number</small>
		</div>
		<div class="form-group row">
			<label class='col-form-label col-sm-2' for="name">Name:</label>
			<input [(ngModel)]='product.name' name = 'Name' type="text" class="form-control col-sm-6" id="name" aria-describedby="pnameHelp" placeholder="ProductName">
			<small id="pnameHelp" class="form-text text-muted col-sm-2">Product Name</small>
		</div>
		<div class="form-group row">
			<label class='col-form-label col-sm-2' for="price">Price:</label>
			<input [(ngModel)]='product.price' name = 'Price' type="number" class="form-control col-sm-6" id="price" aria-describedby="priceHelp" placeholder="Price">
			<small id="priceHelp" class="form-text text-muted col-sm-2">Product Unit Price</small>
		</div>
		<div class="form-group row">
			<label class='col-form-label col-sm-2' for="unit">Unit:</label>
			<input [(ngModel)]='product.unit' name = 'Unit' type="text" class="form-control col-sm-6" id="unit" aria-describedby="uHelp" placeholder="Unit">
			<small id="uHelp" class="form-text text-muted col-sm-2">Unit</small>
		</div>
		<div class="form-group row">
			<label class='col-form-label col-sm-2' for="photoPath">PhotoPath:</label>
			<input [(ngModel)]='product.photoPath' name = 'PhotoPath' type="text" class="form-control col-sm-6" id="photoPath" aria-describedby="ppHelp" placeholder="PhotoPath">
			<small id="ppHelp" class="form-text text-muted col-sm-2">PhotoPath</small>
		</div>
		<div class='form-group'>
			<button (click)='edit()' class='btn btn-primary'>Update</button>
		</div>
	</div>
</div>