<app-menu></app-menu>
<div id='component'>
  <div id="pagetitle">
    <span>{{title}}</span>
  </div>
  <p *ngIf='!prli'>Loading...</p>
  <div *ngIf='prli'>

    <div class="form-group row">
			<label class='col-form-label col-sm-2' for="prli-product">Product:</label>
			<div class='col-sm-6 select-list'>
			  <select [(ngModel)]='prli.product.id' [compareWith]='compareFn' class='form-control' name='Product' id='prli-Product'>
                <option *ngFor="let product of products" [ngValue]="product.id" [selected]="product.id == prli.product.id">{{product.name}}</option>
              </select>
			</div>
		</div>

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="quantity">Quantity</label>
      <input [(ngModel)]='prli.quantity' name='Quantity' type="number" class="form-control col-sm-6" id="quantity"
        aria-describedby="quantityHelp" placeholder="Quantity">
      <small id="quantityHelp" class="form-text text-muted col-sm-2">How many do you need?</small>
    </div>
    <div class='form-group'>
      <button (click)='edit()' class='btn btn-primary'>Save Changes</button>
    </div>
  </div>
</div>
