<app-menu></app-menu>
<p class = "font-weight-bold">
  Welcome to the Bootcamp Purchase Request System!
</p>
<p class = "font-weight-bold">
  This system was developed using an array of technologies. Lol see what I did there?
</p>
<table>
  <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td>
      <img src='assets/logos/mysql.png' width='100' height='100' title='mySQL'>
    </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
      <td> </td>
      <td> </td>
    <td>
        <img src='assets/logos/java.png' width='100' height='100' title='Java'>
    </td>
    <td>
        <img src='assets/logos/spring.png' width='100' height='50' title='Spring'>
    </td>
    <td>
        <img src='assets/logos/maven.png' width='100' height='50' title='Maven'>
    </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
      <td>
          <img src='assets/logos/html.png' width='100' height='75' title='html'>
      </td>
      <td>
          <img src='assets/logos/css.png' width='100' height='75' title='CSS'>
      </td>
      <td>
          <img src='assets/logos/bootstrap.png' width='100' height='75' title='Bootstrap'>
      </td>
      <td>
          <img src='assets/logos/javascript.png' width='100' height='75' title='JavaScript'>
      </td>
      <td>
          <img src='assets/logos/jquery.png' width='100' height='75' title='jQuery'>
      </td>
      <td>
          <img src='assets/logos/typescript.png' width='100' height='75' title='TypeScript'>
      </td>
      <td>
          <img src='assets/logos/angular.png' width='100' height='75' title='Angular'>
      </td>
  </tr>
</table>